.CodeMirror pre {
    line-height: 16px;
}

#in {
    height: auto;
    overflow: auto;
    font-size: 12px;
    /*box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4);*/
}

.CodeMirror {
    width: auto;
    height: auto;
}

.CodeMirror-scroll {
    padding: 30px;
    box-sizing: border-box;
}

#out {
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em
}

#messageContent {
    position: fixed;
    /*background-color: #111;*/
    border-radius: 5px;
    top: 90%;
    left: 10%;
    width: 450px;
}

.view #in {
    display: none;
}

.view #out {
    left: 0;
    padding-left: 10px;
}

blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

pre, code {
    color: #000;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.94em; /* 0.94 = 0.88 + (1.00 - 0.88) / 2 */
    border-radius: 3px;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
}

pre code {
    border: 0px !important;
    background: transparent !important;
    line-height: 1.3em;
}

code {
    padding: 0 3px 0 3px;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}