<!DOCTYPE html>
<html lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="html_head">
<title>Blog List</title>
</th:block>

<th:block layout:fragment="add_lib_css">
<link th:href="@{/blog/codemirror/css/base16-light.css}" rel="stylesheet" />
<link th:href="@{/blog/codemirror/lib/codemirror.css}" rel="stylesheet" />
<link th:href="@{/blog/css/post.css}" rel="stylesheet" />
<!-- <link th:href="@{/blog/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" /> -->
<link th:href="@{/blog/markdown/css/github-gist.css}" rel="stylesheet" />
<!-- Select2 -->
<link rel="stylesheet" th:href="@{/bower_components/select2/dist/css/select2.min.css}">
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
<div class="wrapper">

    <!-- Header Bar -->
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Quick Example</h3>
                        </div>

                        <!-- form start -->
                        <!-- <form class="form-horizontal well bs-component col-lg-10 col-lg-offset-1"
                            th:action="@{/posts}" th:object="${postDto}" method="post" th:id="post"> -->
                        <form class="form-horizontal" th:action="@{/posts}" th:object="${postDto}" method="post" th:id="post">
                            <div class="box-body">
                                <fieldset>
                                    <div class="form-group" th:classappend="(${#fields.hasErrors('title')}? ' has-error')">
                                        <label for="title" class="col-md-2 control-label">Title</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="title" name="title" th:field="*{title}" placeholder="Title"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</span>
                                        </div>
                                    </div>

                                    <!-- https://jsonobject.tistory.com/175 -->
                                    <!-- http://select2.github.io/select2/ -->
                                    <div class="form-group" th:classappend="(${#fields.hasErrors('categoryId')}? ' has-error')">
                                        <label for="categories" class="col-md-2 control-label">Select2 Library</label>
                                        <div class="col-md-10">
                                            <select class="form-control select2" id="select2Multiple" multiple="multiple" data-placeholder="Select a State">
                                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    

                                    <div class="form-group" th:classappend="(${#fields.hasErrors('categoryId')}? ' has-error')">
                                        <label for="categories" class="col-md-2 control-label">Use th:with</label>
                                        <div class="col-md-10">
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <!-- <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}" th:onclick="'changeCategory(\'' + ${category.name} + '\')'" > -->
                                                    <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}" >
                                                    <input name="categoryId" type="radio" th:text="${category_name}" th:value="${category_id}" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Test - 1</label>
                                        <div class="col-md-10">
                                            <!-- <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}">
                                                    <input th:data-category-id="${category.id}" th:data-category-name="${category.name}"
                                                            name="categoryId" type="radio" th:text="${category_name}" th:value="${category_id}"
                                                            th:onclick="changeCategory(this.getAttribute('data-category-name'));" />
                                                </label>
                                            </div> -->
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}" th:onclick="javascript:changeCategory([[${category_name}]]);">
                                                    <input name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Test - [[..]]</label>
                                        <div class="col-md-10">
                                            <!-- <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}">
                                                    <input th:data-category-id="${category.id}" th:data-category-name="${category.name}"
                                                            name="categoryId" type="radio" th:text="${category_name}" th:value="${category_id}"
                                                            th:onclick="changeCategory(this.getAttribute('data-category-name'));" />
                                                </label>
                                            </div> -->
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:onclick="javascript:changeCategory([[${category.name}]]);">
                                                    <input name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Test - th:with</label>
                                        <div class="col-md-10">
                                            <!-- <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}">
                                                    <input th:data-category-id="${category.id}" th:data-category-name="${category.name}"
                                                            name="categoryId" type="radio" th:text="${category_name}" th:value="${category_id}"
                                                            th:onclick="changeCategory(this.getAttribute('data-category-name'));" />
                                                </label>
                                            </div> -->
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}" th:onclick="javascript:changeCategory([[${category_name}]]);">
                                                    <input name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Test - 2</label>
                                        <div class="col-md-10">
                                            <!-- <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}">
                                                    <input th:data-category-id="${category.id}" th:data-category-name="${category.name}"
                                                            name="categoryId" type="radio" th:text="${category_name}" th:value="${category_id}"
                                                            th:onclick="changeCategory(this.getAttribute('data-category-name'));" />
                                                </label>
                                            </div> -->
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}" >
                                                    <input onclick="javascript:alert('t');" name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Test - 2.1</label>
                                        <div class="col-md-10">
                                            <!-- <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}">
                                                    <input th:data-category-id="${category.id}" th:data-category-name="${category.name}"
                                                            name="categoryId" type="radio" th:text="${category_name}" th:value="${category_id}"
                                                            th:onclick="changeCategory(this.getAttribute('data-category-name'));" />
                                                </label>
                                            </div> -->
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active" th:with="category_name=${category.name}, category_id=${category.id}" onclick="javascript:alert('t');">
                                                    <input name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">category</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="categoryName" disabled="disabled" />
                                            <input type="hidden" id="categoryId" name="categoryId" />
                                            <!-- <input type="hidden" id="categoryName" name="categoryName" /> -->
                                            <span class="help-block" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">Incorrect title</span>
                                        </div>
                                    </div>

                                    <div class="post clearfix">
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div id="in" style="height: 450px;">
                                                <input type="hidden" id="content" name="content" th:field="*{content}"/>
                                                <input type="hidden" id="code" th:field="*{code}" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="out" style="height: 450px;">
                                            </div>
                                            <div id="messageContent">
                                                <label for="content" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="box-footer">
                                <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                                <a class="btn btn-primary" th:href="@{/}">Cancel</a>
                                <!-- <input class="btn btn-primary pull-right" type="button" value="Save" onclick="saveAsHtml()"/> -->
                                <input class="btn btn-primary pull-right" type="button" value="Save" onclick="saveAsHtml()"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer Bar -->
    <!-- Control Sidebar -->

    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
</div>
<!-- ./wrapper -->
</th:block>

<th:block layout:fragment="add_lib_js">
<!-- Select2 -->
<script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>
<!-- <script src="blog/markdown/js/markdown-it.js"></script> -->
<script th:src="@{/blog/markdown/js/markdown-it.js}"></script>
<script th:src="@{/blog/markdown/js/markdown-it-footnote.js}"></script>
<script th:src="@{/blog/markdown/js/highlight.pack.js}"></script>
<script th:src="@{/blog/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/blog/codemirror/overlay.js}"></script>
<script th:src="@{/blog/codemirror/markdown/markdown.js}"></script>
<script th:src="@{/blog/codemirror/gfm/gfm.js}"></script>
<script th:src="@{/blog/markdown/js/rawinflate.js}"></script>
<script th:src="@{/blog/markdown/js/rawdeflate.js}"></script>

<script th:src="@{/blog/js/post.js}"></script>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            // Initialize Select2 Elements
            $('#select2Multiple').select2({
                // maximumSelectionSize: 1
                maximumSelectionLength: 3
            });
        })

        function deletePost(postId) {
            document.getElementById("post").action = "/posts/" + postId + "/delete";
            document.getElementById("post").submit();
        }

        https://stackoverflow.com/questions/37365199/get-selected-option-in-select2-event-when-multiple-options-can-be-selected
        var old_values = [];
        var target_multi_select = $('#select2Multiple');
        var target_multi_selected_input_id = $('#categoryId');
        var target_multi_selected_input_name = $('#categoryName');

        target_multi_select.on("select2:select select2:unselect", function(event){
            var values = [];
            var values_id = [];

            // copy all option values from selected
            $(event.currentTarget).find("option:selected").each(function (i, selected) {
                values[i] = $(selected).text();
                values_id[i] = $(selected).val();
            });
            // doing a diff of old_values gives the new values selected
            var last = $(values).not(old_values).get();
            // update old_values for future use
            old_values = values;
            // output values (all current values selected)
            // console.log("selected values: ", values);
            // output last added value
            // console.log("last added: ", last);

            target_multi_selected_input_id.val(values_id);
            target_multi_selected_input_name.val(values);
        })

        function alertSelect2Value(){
            alert($('#categoryId').val() + " :::: " + $('#categoryName').val());
        }
        /*]]>*/
    </script>
</th:block>

</html>