<!DOCTYPE html>
<html lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main_layout}">

<th:block layout:fragment="html_head">
<title>Blog List</title>
</th:block>

<th:block layout:fragment="add_lib_css">
<link th:href="@{/blog/codemirror/css/base16-light.css}" rel="stylesheet" />
<link th:href="@{/blog/codemirror/lib/codemirror.css}" rel="stylesheet" />
<link th:href="@{/blog/css/post.css}" rel="stylesheet" />
<!-- <link th:href="@{/blog/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" /> -->
<link th:href="@{/blog/markdown/css/github-gist.css}" rel="stylesheet" />
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
<div class="wrapper">

    <!-- Header Bar -->
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Quick Example</h3>
                        </div>

                        <!-- form start -->
                        <!-- <form class="form-horizontal well bs-component col-lg-10 col-lg-offset-1"
                            th:action="@{/posts}" th:object="${postDto}" method="post" th:id="post"> -->
                        <form class="form-horizontal" th:action="@{/posts}" th:object="${postDto}" method="post" th:id="post">
                            <div class="box-body">
                                <fieldset>
                                    <div class="form-group" th:classappend="(${#fields.hasErrors('title')}? ' has-error')">
                                        <label for="title" class="col-md-1 control-label">Title</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" id="title" name="title" th:field="*{title}"
                                                    placeholder="Title"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('title')}"
                                                    th:errors="*{title}">Incorrect title</span>
                                        </div>
                                    </div>
                                
                                    <div class="form-group" th:classappend="(${#fields.hasErrors('categoryId')}? ' has-error')">
                                        <label class="col-md-1 control-label">Categories</label>
                                        <div class="col-md-11">
                                            <div class="btn-group" data-toggle="buttons" th:each="category : ${categories}">
                                                <label class="btn btn-primary active">
                                                    <!-- https://okky.kr/article/535985 -->
                                                    <!-- <input th:onclick="|openGate('${category.name}', '${category.name}');|" name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" /> -->
                                                    <!-- <input th:onclick="|openGate('${category.name}');|" name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" /> -->
                                                    <!-- <input th:onclick="'javascript:openGate(\'' + ${category.name} + '\');''" name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" /> -->
                                                    <!-- <input th:onclick="openGate('${category.name}','${category.name}');" name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" /> -->
                                                    <!-- <input th:onclick="'openGate(\'' + ${category.name} + '\',\'' + ${category.name} + '\')'" name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" /> -->
                                                    <input name="categoryId" type="radio" th:text="${category.name}" th:value="${category.id}" />
                                                </label>
                                                <!-- <label th:text="${category.name}"></label> -->
                                                <!-- <label th:text="${category.id}"></label> -->
                                            </div>
                                            <input name="categoryId" type="radio" th:text="default" th:value="1" checked="checked"/>
                                            <span class="help-block" style="text-align: center;" th:if="${#fields.hasErrors('categoryId')}"
                                                    th:errors="*{categoryId}">Incorrect title</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Category</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" id="categoryName" disabled="disabled" value="1"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div id="in" style="height: 450px;">
                                                <input type="hidden" id="content" name="content" th:field="*{content}"/>
                                                <input type="hidden" id="code" th:field="*{code}" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="out" style="height: 450px;">
                                            </div>
                                            <div id="messageContent">
                                                <label for="content" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="box-footer">
                                <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                                <a class="btn btn-primary" th:href="@{/}">Cancel</a>
                                <input class="btn btn-primary pull-right" type="button" value="Save" onclick="saveAsHtml()"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->

    <!-- Footer Bar -->
    <!-- Control Sidebar -->

    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
</div>
<!-- ./wrapper -->
</th:block>

<th:block layout:fragment="add_lib_js">
<!-- <script src="blog/markdown/js/markdown-it.js"></script> -->
<script th:src="@{/blog/markdown/js/markdown-it.js}"></script>
<script th:src="@{/blog/markdown/js/markdown-it-footnote.js}"></script>
<script th:src="@{/blog/markdown/js/highlight.pack.js}"></script>
<script th:src="@{/blog/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/blog/codemirror/overlay.js}"></script>
<script th:src="@{/blog/codemirror/markdown/markdown.js}"></script>
<script th:src="@{/blog/codemirror/gfm/gfm.js}"></script>
<script th:src="@{/blog/markdown/js/rawinflate.js}"></script>
<script th:src="@{/blog/markdown/js/rawdeflate.js}"></script>

<script th:src="@{/blog/js/post.js}"></script>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        function deletePost(postId) {
            document.getElementById("post").action = "/posts/" + postId + "/delete";
            document.getElementById("post").submit();
        }
        /*]]>*/
    </script>
</th:block>

</html>