<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>
  <link rel="stylesheet" th:href="@{/markdown/css/github-gist.css}" />

</head>

<body>
  <!-- Post Content -->
  <div class="container" layout:fragment="content">
    <ul class="pager">
        <li class="next">
            <a th:href="@{'/posts/edit/' + ${post.id}}">edit</a>
        </li>
    </ul>
    <div class="row">
      <h1 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="margin-bottom:3%" th:text="${post.title}">
      </h1>
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:utext="${post.content}">
      </div>
    </div>
  </div>
</body>

</html>